/**
 * LA OCA - 2017 - Tecnologias y Sistemas Web 
 * Escuela Superior de Informatica de Ciudad Real
 * 
 * Josue Gutierrez Duran 
 * Sonia Querencia Martin 
 * Enrique Simarro Santamaria
 * Eduardo Fuentes Garcia De Blas
 */
 
 /*
Al cuerpo de la
pagina se aplica el tam침o de fuete
 */
body{
	font-size: 12px;
}
/**
 * se aplica el ancho, margen centrado
 * borde de un pixel con redondeao, y rellenado
 * a la izquierda y derecha
 */
#Contenedor{
	width: 400px;
	margin: 50px auto;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
}

.avatar {
    /* cambia estos dos valores para definir el tama絪 de tu c壓culo */
    height: 90px;
    width: 90px;
    /* los siguientes valores son independientes del tama絪 del c壓culo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
 */
.Icon span{
background: #A8A6A6;
padding: 20px;
border-radius: 120px;
}
/**
 * Se aplica al cotenedor madre un margen de tam침o 10px hacia la cabecera y pie,
 * color de fuente blanco,un tam침o de fuente 50px y texto centrado.
 */
.Icon{
	margin-top: 10px;
	margin-bottom:10px; 
    color: #FFF;
    font-size: 50px;
    text-align: center;
}
.page-header{
	
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: center;
	
}
/**
 * Se aplica al contenedor donde muetra
 * la opcion de olvidades tu contrase침a
 */
.opcioncontra{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

/**
 * EN las siguientes lineas
 * se define el dise침o en el que
 * se mostrara en los dispositivos moviles
 */

/******************************************/
/***    DISE칌O PARA MOVILES 320        ****/
/******************************************/
@media only screen and (max-width:320px){
#Contenedor{
	width: 100%;
	height: auto;
	margin: 0px;
}

/******************************************/
/***    DISE칌O PARA MOVILES 240        ****/
/******************************************/
@media only screen and (max-width:240px){
	
}
